body {
    font-family: "Roboto", sans-serif;
    font-size: 42px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    outline: none;
    padding: 0;
}
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

@keyframes text {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes steam {
    0% {
        transform: translateY(0) translateX(0) scale(0.25);
        opacity: 0.5;
    }
    100% {
        transform: translateY(-200px) translateX(20px) scale(1);
        opacity: 0;
    }
}
