body {
    font-family: "Roboto", sans-serif;
    font-size: 42px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    outline: none;
    padding: 0;
}
